/*===========================
    1.COMMON css 
===========================*/

@font-face {
  font-family: 'd-din';
  src: url('../fonts/d-din.condensed.otf');
}
@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/Gill\ Sans.otf');
}

body {
  font-family: Gill Sans, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #777;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}




ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #777;
}

/* Buttons */
.btn-primary {
  color: #ffdaca;
  background-color: #333333;
  border-radius: 1px;
  border: 1.5px solid #333333;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: 0.5s;
  font-weight: 600;
  font-family: d-din, sans-serif;
}

.btn-primary:hover {
  color: #333333;
  background-color: #ffdaca;
  border: 1.5px solid #333333;
}

.btn-secondary {
  color: #333333;
  background-color: #ffdaca;
  border-radius: 1px;
  border: 1.5px solid #ffdaca;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: 0.5s;
  font-weight: 600;
  font-family: d-din, sans-serif;
}

.border-secondary {
  border: 2px solid #ffdaca !important;
  padding: 0 1rem 0 1rem !important;
  width: fit-content !important;
}

.btn-secondary:hover {
  color: #ffdaca;
  background-color: #333333;
  border: 1.5px solid #ffdaca;
}
.btn-fixed{
  position: fixed;
  right: -1.5rem;
  z-index: 88;
  transform: translateY(-50%) rotate(270deg);
  top: 50%;
  color: #333333;
  background-color: white;
  border-radius: 1px;
  border: 1.5px solid white;
  padding: 0rem 0.5rem 0rem 0.5rem;
  transition: 0.5s;
  font-weight: 600;
  font-family: d-din, sans-serif;
}
.font-condensed{
  font-family: d-din, sans-serif;
}

/* Headings & texts */


.heading {
  font-size: 50px;
  font-weight: 600;
  color: #333333;
  font-family: d-din, sans-serif;
}

.sub-heading {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  font-family: d-din, sans-serif;
}

.text-sm {
  font-size: 0.85rem;
  line-height: 1.4;
}

.text-primary {
  color: #333333 !important;
}


.border-right {
  border-width: 2px !important;
}

.w-90 {
  width: 90%;
}

.bg-light {
  background-color: #f8f8f8;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/hero.png") top center;
  background-size: auto 100%;
  position: relative;
  background-color: #ffdaca;
  background-repeat: no-repeat;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero .logo-container {
  position: absolute;
  top: 13%;
  left: 26%;
}
.logo-img{
  width: 7rem;
}
#hero h4 {
  margin: 0px;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  font-family: d-din, sans-serif;
}

#hero h1 {
  margin: 0px;
  font-size: 70px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  font-family: d-din, sans-serif;
}

#hero h2 {
  color: #fff;
  margin: 0px;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  font-family: d-din, sans-serif;
}


@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}


@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}




/*===== All Preloader Title Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  /* Change Background Color */
  background: #fdfdfd;
  z-index: 9999;
}

.preloader .spin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.preloader .spin .cube1,
.preloader .spin .cube2 {
  background-color: #fe7865;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  -moz-animation: sk-cubemove 1.8s infinite ease-in-out;
  -o-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.preloader .spin .cube2 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  -o-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* CSS Keyframe Animation */
@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*===========================
    2.HEADER css 
===========================*/
.header-area {
  padding: 0.8rem 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.header-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  -moz-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  z-index: 999;
  padding: 10px 0;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-area .navbar {
  padding: 0;
}

.header-area .navbar .navbar-brand {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  font-family: d-din, sans-serif;
}

.header-area .navbar .navbar-toggler .bar-icon {
  width: 30px;
  height: 2px;
  margin: 5px 0;
  background-color: #333;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-area .navbar .navbar-toggler.active .bar-icon:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-area .navbar .navbar-toggler.active .bar-icon:nth-child(2) {
  opacity: 0;
}

.header-area .navbar .navbar-toggler.active .bar-icon:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .header-area .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    padding: 10px;
  }
}

.header-area .navbar .navbar-nav .nav-item {
  margin-left: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .navbar .navbar-nav .nav-item {
    margin: 5px 0;
  }
}

@media (max-width: 767px) {
  .header-area .navbar .navbar-nav .nav-item {
    margin: 5px 0;
  }
}

.header-area .navbar .navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 600;
  font-family: d-din, sans-serif;
  color: #333333;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.header-area .navbar .navbar-nav .nav-item.active a,
.header-area .navbar .navbar-nav .nav-item:hover a {
  color: #777;
}


/* Location */
#map {
  width: 100%;
  height: 80vh;
}

.map-overlay {
  padding: 1.5rem;
  background-color: white;
  position: absolute;
  top: 4rem;
  left: 5rem;
}

/* Community */
#community h5{
  font-family: d-din, sans-serif;
}
.strike-through-community {
  border: 5px solid #ffdaca;
  width: 16rem;
  position: absolute;
  z-index: 0;
  top: 0.5rem;
}

.bg-one-community {
  left: 47%;
  bottom: -2rem;
  z-index: 0;
  transform: translate(-50%);
  width: 8rem;
  height: 6rem;
  position: absolute;
}

.bg-two-community {
  right: 1rem;
  bottom: -2rem;
  z-index: 0;
  position: absolute;
  width: 2rem;
  height: 6rem;
}

.bg-three-community {
  left: 25%;
  bottom: -0.5rem;
  z-index: 0;
  transform: translate(-50%);
  width: 8rem;
  height: 6rem;
  position: absolute;
}

.community-card-bg {
  position: relative;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  width: 16rem;
  height: 16rem;
}

.community-img-container {
  width: 16rem;
  height: 16rem;
}

.community-img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}

.community-img-overlay {
  background-color: #ffdaca;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0;
  right: 0
}

/* Our Menu */
.our-menu-container {
  padding: 12rem 0 2rem 0.4rem;
}

.menu-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 6rem;
  z-index: 2;
}

.strike-through-menu {
  border: 5px solid #ffdaca;
  width: 14rem;
  position: absolute;
  z-index: 0;
  top: 0.5rem;
}

/* Contact us */
.contact-area {
  background-color: #ffdaca;
}

.strike-through {
  border: 5px solid white;
  width: 12rem;
  position: absolute;
  z-index: 0;
  top: 2.8rem;
}

.strike-through-text {
  position: relative;
  z-index: 1;
}

input[type=text],
.custom-select,
input[type=number] {
  background-color: transparent;
  border-radius: 0px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus {
  box-shadow: none;
  background-color: transparent;
  border-bottom: 2px solid #777;
}

.custom-select:focus {
  box-shadow: none;
  background-color: transparent;
  border-bottom: 2px solid #777;
}

label {
  color: #333333;
  font-weight: 600;
  font-family: d-din, sans-serif;
}

/* footer */
.footer-area {
  background-color: #333333;
  padding: 3rem 0 3rem 0;
}

.footer-link-title {
  color: #ffdaca;
  font-weight: 600;
  margin-bottom: 0.8rem;
  font-family: d-din, sans-serif;
}

.footer-link {
  margin-bottom: 0.5rem;
}

.social-links {
  padding-left: 1.5rem;
  color: white;
}

.social-links:hover {
  color: #ffdaca;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  width: 40px;
  line-height: 40px;
  z-index: 99;
  text-align: center;
  display: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -moz-box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  box-shadow: 0px 0px 30px 0px rgba(156, 156, 156, 0.25);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  color: #333333;
  border: 1px solid #333333;
  background-color: #ffdaca;
}

.back-to-top:hover {
  color: #ffdaca;
  background-color: #333333;
  border: 1px solid #ffdaca;
}




/*# sourceMappingURL=style.css.map */